@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

 html, body {
     margin: 0;
     scroll-behavior: smooth;
        }



body {
    background-color: #F2F2F2;
    margin:0;
    font-family: 'lato', sans-serif;
}
   

.header {
    background-color: black;
    color: white;
    height: 90px;
    border-bottom: 4px solid white;
;
}

.nav {
    display: grid;
    grid-template-columns: 200px auto;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 4rem;
    font-family: 'Architects Daughter', cursive;
}

.links {
    margin-top: 40px;
    font-size: 0.75rem;
    text-align: right;
    color: #4B4E61;
}

.links a {
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}

.pageone {
 background-color: white;
}


.pageone img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    }


.filler{
    background-color:black;
    height: 90px; 
    margin: 0;
    border-bottom: 9px solid white; 
}

#page2{
    background-color: black;
    margin-top:0;
    color: white;
    font-size: 1.2em;
    text-align: center;
    height: auto;
    padding-top:20px; 
}
    
.landscape {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;
    margin-left: 20px;
    margin-right: 20px;
    
}

.landscape img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.item2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}
    
.item3 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
}

.item4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
}


.item5 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 9;
}

.item6 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
}

#page3{
    background-color: black;
    height: auto;
    margin: auto;
    color:white;
    text-align: center;
    

}


.cityscape {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom:40px;
}

.cityscape img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photo1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5;
}

.photo2 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 5;
}

.photo3{
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 5;
}

.photo4{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 9;
}

.photo5{
     grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 9;
}

.photo6 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 9;
}


#page4{
    background-color: black;
    height: auto;
    margin: auto;
    color:white;
    text-align: center;
    
}

.people {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 40px;
    padding-top:10px;
}

.people img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.picture1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 6;
}

.picture2{
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 4;
}


.picture3{
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 5;
}


.picture4 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 9;
}

.picture5{
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 9;
}

.picture6 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 9;
}

#page5 {
    background-color: black;
    height:auto;
    padding-bottom: 10px;
    color:white;
    text-align: center;
    border: 9px solid white;
    margin:auto;
}

#page5 .a {
    color: white;
    padding-left: 10px;
    padding-right: 20px;
    text-decoration: none;
    grid-column: 3/3;
}

.contact1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 10% 80% 10%;
    
}

h1 {
    margin-top:0;
    text-align: center;
}

#contact {
    grid-column: 2;
    font-size: 1.5em;
    padding-top: 20px;
    font-size: 4.5vw;
}

.text {
    grid-column: 3/3;
    padding-top: 20px;
    margin: 0;
}

.email { 
    text-decoration: none;
    color:darkgreen;
    grid-row: 2;
    grid-column: 3/3;
    margin:auto;
    font-size: 2vw;
}

.home{
    text-align: center;
    grid-row: 3;
    grid-column: 3/3;
    margin-top: 60px
    
}

.home a {
    text-decoration: none;
    color: white;
}


.aboutme{
    grid-column: 1;
    margin: 0;
    grid-row:1;
    color:darkcyan;
    font-size: 2.5vw
    
}

.rar {
    grid-column: 2;
    grid-row: 2;
    margin: 0;
    height:10px;   
}

.rar img{
    height: 150px;
    margin-top: 40px;  
}

